@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Roboto Mono", "monospace";
}

body {
    background-color: #ED406E!important;
}

main {
    min-height: 100vh;
    padding: 10px;
}

.nav-link {
    color: #ED406E !important;
}

.navbar-toggler {
    background-color: #ED406E!important;
}

.cart {
    color: #ED406E;
}

#product-imgs {
    width: 450px;
    height: 450px;
    padding: 5px;
}

#products {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#products>div {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color:#ED406E;
    text-align: center;
}

/* Button and Description styling */

#addbtn {
    border: 1px solid #ED406E !important;
    border-radius: 10px;
    background-color: black;
    margin: 5px;
    height: 35px;
    width: 150px;
    color: white !important;
    font-size:large;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#addbtn:hover {
    color:#ED406E !important;
    box-shadow: 0 0 30px 5px #ED406E;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}



/* Footer styling */

footer {
    background-color: black;
    text-align: center;
    color: #ED406E !important;
}

.social-imgs {
    height: 70px;
}
#cart-btn{
    background-color: #ED406E !important;
    border: 2px solid #ED406E !important ;
}

#cart-btn:hover{
    background-color: black !important;
    border: 2px solid white !important ;
    transition: 0.2s ease-out !important;
}

/* Responsiveness */

@media screen and (max-width: 1053px) {
    #products {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
    }
    #product-imgs {
        width: 300px;
        height: 300px;
        margin-right: 20px;
        padding:10px;
    }
}

@media screen and (max-width: 990px) {
    #products {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
    }

    #product-imgs {
        width: 250px;
        height: 250px;
        margin-right: 20px;
        padding:10px;
    }
}

@media screen and (max-width: 695px) {
    #products {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
    }

    #product-imgs {
        width: 200px;
        height: 200px;
        margin-right: 20px;
        padding:10px;
    }
}
@media screen and (max-width: 580px) {
    #products {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
    }

    #product-imgs {
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }
}