* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}

/* font link */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* background */
body {
    background-color: #ed406e !important;    
}

/* nav bar */
.nav-link {
    color: #ed406e !important;
}
.navbar-toggler {
    background-color: #ed406e !important;
}
.cart {
    color: #ed406e;
}

/* contact form */
.contact {
    background-color: black !important;
    color: white !important;
    width: 70%;
    left: 15%;
}

.contact .heading-text {
    background-color: #ed406e;
}

.contact .btn {
    display: block;
    margin: auto;
}

/* footer */
footer {
    background-color: black;
    text-align: center;
    color: #ED406E !important;
}

.social-imgs {
    height: 70px;
}